body {
  background-color: #ffffff;
}

svg {
  background-color: #ffffff;
}

path {
  fill: grey;
  opacity: 0.6;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
  cursor: pointer;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#div-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;
}

#inputs-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  flex-flow: row wrap;
}

.axis {
  font: 14px sans-serif;
}

#map-container {
  float: left;
}

#horizontal-chart-container {
  float: right;
}

#horizontal-chart {
  width: 960px;
  height: 470px;
  overflow-y: scroll;
}

#horizontalHeader {
  margin-left: 150px;
}
.tick text {
  fill: #000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #909090;
  shape-rendering: crispEdges;
}

/* Apply a "closed-hand" cursor during drag operation.*/
.grabbable {
  cursor: pointer;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
